* {
    width: 100%;
    height: 100%;
    background-color: black;

    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
}

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------- nav bar ------------------------ */

/* display flex */

nav, ul,li {
    display: flex;
}

.nav-bar {
    display: flex;
}

nav {

    justify-content: flex-end;
    height: 13rem;
    width: 198rem;

    
    /* flex-direction: column; */

}
/* ------------- NAV-BAR -------------- */
.nav-bar {
    /* list-style-position: inside; */
    height: 13rem;
    width: 198rem;
    padding: 2rem 9.6rem;

    justify-content: flex-start;
    
}


.nav-bar>img {
    height: 9rem;
    width: 22.4rem;

    /* height: 90px;
    width: 224px; */


}

.nav-bar>ul>{
    align-items: end;
    justify-content: flex-end;
    color: aliceblue;
    padding: 0%;
    margin: 0%;

}



.nav-bar>ul>li {
    align-items: end;
    justify-content: flex-end;
    color: aliceblue;
    align-items: center;
    justify-content: center;


    list-style: none;
    font-size: 2rem;
    padding: 0%;
    margin: 0%;

}




.nav-bar__btn{
    width: 18rem;
    height: 4.8rem;
    /* background: #b92b27;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #1565C0, #b92b27); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

    border-color: #0500de;
    border-image: linear-gradient(90deg, #0500de 0%, #ff009c 50%, #ff7500 100%);


    color: aliceblue;
    font-size: 1.8rem;
}


/* .nav-bar__btn>button {
    width: 18rem;
    height: 4.8rem;

} */



/* ----------- hero container */

.section {
    width: 198rem;
    height: 89rem;

    background-color: #ff009c;
    display: flex;
    position: absolute;
}

.hero__container {
    display: flex;
}

.hero__container-left {
    height: 80rem;
    width: 74rem;
    background-color: #ff009c;

    margin: 4rem;
    padding: 2.4rem;
}

.hero__container-right {
    height: 73rem;
    width: 83rem;
    background-color: #ff7500;
}

