


:root {
    --font-gray : #f3f4f6
}
#hero__bange-info {
    border: 1.5px solid #9ca3af;
    background-color: transparent;
    color: #9ca3af;
    margin-top: 2rem;
}

#hero__left_title {
    color: aliceblue;
    font-weight: 700;
    font-size: 4rem;

    line-height: 4.8rem;
}

#hero__left_title-color {
    color: blueviolet;
}

#hero__left_title-info {
    color: #f3f4f6;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#hero__left_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero__left_btns-color {
    background-color: blueviolet;
    width: 280px;
    height: 56px;
    color: aliceblue;
    font-size: 16px;
    border-radius: 10px ;
    
}

#hero__left_btns-trans {
    background-color: transparent;
    width: 155px;
    height: 60px;
    color: aliceblue;
    font-size: 16px;
    border-radius: 10px ;
    border: 1px solid #f3f4f6;    
}

#hero__left_customer_review>p {
    color: #f3f4f6;
    margin-top: 4rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
}

#hero__left_customer_review>h3 {
    color: #f3f4f6;
    margin-left: 4.5rem;
}

/* ---------- HERO LEFT ------------------------ */

#hero__container {
    width: 100vw;
    height: 85vh;
    background-color: black;
    display: flex;
}


#hero__left_section {
    width: 40vw;
    height: 85vh;

    background-color: black;

    margin-left: 6rem;
    padding-left: 2rem;
    padding-top: 3rem;

    margin: none;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

#hero__bange-info {
    background-color: black;
    padding: 0.3rem 0.3rem 0.3rem;
    margin: 0.3rem 0.3rem 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;



}


/* -------------------- HERO RIGHT -------------------- */

#hero__right_section {

    display: flex;
    background-color: black;
    width: 60vw;
    height: 85vh;

    align-items: center;
    justify-content: center;


}

#hero__right_section_video {
    margin-left: 4rem;
    margin-bottom: 2.8rem;
    margin-top: 20px;

    border-radius: 10px;

    height: 200px;
    width: 360px;

}

#hero__right_section_video-2nd {
    margin-left: 4rem;
    margin-bottom: 2.8rem;
    margin-top: 50px;

    border-radius: 10px;

    height: 200px;
    width: 360px;

}